node_modules/
.next/
.env
.env*.local
*.log
/public/uploads/*
!/public/uploads/.gitkeep
.DS_Store
# Artefak service worker (digenerate saat build)
/public/sw.js
/public/swe-worker*.js
docker-compose.override.yml